// Общие стили для футера c позиционированием
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: $primary-white-color;
  background-color: $background-footer-color;
  
   

    .content {   
      @media screen and (max-width: $desktop-low) {           
        text-align: center;  
        justify-content: center;   
      } 
    
    
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;      
      
      align-items: baseline;     
    }
    @media screen and (min-width: $desktop) {           
      // justify-content: space-between;     
    }

  }

  .main {
    
    @media screen and (max-width: $tablet-low) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $tablet) {
      margin-right: 165px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }

  .social-links {
    margin: 0;
    margin-bottom: 60px;    
  }

  .submit {
    @media screen and (min-width: $mobile) and (max-width: $desktop-low) {
      width: 450px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }
   
    @media screen and (min-width: $desktop) {
      
      display: flex;
      flex-direction: column;      
      margin-left: 95px;
      
      
    }
  }
}

// Стили для отдельных элементов футера

//    Для адреса и логотипа
.footer .main {
  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  .address .text {
    margin-top: 0;
    margin-bottom: 8px;
    font-style: normal;
  }

  .address .item:nth-child(1) {
    margin-bottom: 8px;
  }

  .address .link {
    font-style: normal;
    color: $contact-text-footer;
  }
}

//   Для ссылок на соцсети

.footer .social-links {
  .text {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 20px;
  }
  .social-list {
    @extend %social-list;

    .link {
      background-color: $footer-bgr-social;
      color: $primary-white-color;
    }
  }
}

// Для подписки на рассылку
.footer .submit {
  .text {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 20px;
  }

  .input {    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    
    
    @media screen and (max-width: $desktop-low) {
      margin-bottom: 20px;
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;
      margin-right: 20px;
      width: 358px
    }
    
    font-size: 16px;
    line-height: 1.25;
    color: $primary-white-color;

    background: $background-footer-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .button {
    @extend %button;
    padding: 10px 28px 11px;
    font-weight: 900;
  }

  .icon {
    margin-left: 10px;
  }
}
