// Задает нижнюю часть рамки
.header {
  position: relative;
  
  @media screen and (max-width: $tablet-low) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
}

// Меню навигации для мобилок
.menu {
  
    @media screen and (max-width: $tablet-low) {
    display: none;
  }
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
    }
    
  }

.menu.is-open {
  @media screen and (max-width:$tablet-low) {
    display: block;
    margin-top: 1px;
    padding-bottom: 60px;
    padding-top: 60px;

    background-color: $primary-white-color;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    box-shadow: $box-shadow-menu;

    z-index: 10;
  }
}

// Кнопка меню для мобилок
.menu-button {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  
  @extend %hover-focus;

  @media screen and (min-width:$tablet) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;    
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}


// Навигация на другие страницы

.main-nav {
  display: flex;
  align-items: center;
  
}

// Навигация по страницам сайта
.site-nav {
  text-align: center;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 81px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 85px;    
  }
 
  .item {
     @media screen and (max-width: $tablet-low) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    
  }

  .item + .item {
    @media screen and (min-width: $tablet) {
      margin-left: 50px;
    }
  }
    
  .link {
    display: inline-block;

    color: $primary-text-color;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    

    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    @extend %hover-focus;
  }

  // Указатель текущей открытой страницы
  .link.current {
    position: relative;
    color: $accent-color;
    @media screen and (max-width: $tablet-low) {
      padding-bottom: 8px;
    }
    
    @media screen and (min-width: $tablet) {
      
    }
  }

  .link.current::after {
    
    content: "";

    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: -50%;
    
    transform: translateX(50%);
    background-color: $accent-color;
    pointer-events: none;

    border-radius: 4px;
  }
}

// Навигация по контактам в шапке
.contacts-header {
  @media screen and (max-width: $tablet-low) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 305px;
  }  
    
  .item {
    @media screen and (max-width:$tablet-low) {
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
    @media screen and (min-width:$tablet) {
      margin-bottom: 0;
    }    
  }

  .item + .item {
    @media screen and (min-width: $desktop) {
      margin-left: 30px;
    }
  }

  .link {
    color: $title-text-color;
    fill: $title-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    @media screen and (min-width:$tablet) {
      font-size: 12px;
      line-height: 1.16;
    }
    letter-spacing: 0.02em;

    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    @extend %hover-focus;
  }

  .icon {
    margin-right: 5px;
  }

  .envelope {
    width: 16px;
    height: 11.2px;
  }

  .smartphone {
    width: 10px;
    height: 15px;
  }
}
