// Переменные для хранения основной цветовой палитры
$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$contact-text-footer: rgba(255, 255, 255, 0.6);
$background-footer-color: #2f303a;
$copyright-text: rgba(255, 255, 255, 0.4);
$link-color: #afb1b8;
$secondary-bgr-color: #f5f4fa;
$background-popup-text: rgba(33, 150, 243, 0.9);
$border-header-color: #ececec;
$primary-bgr-color: rgba(47, 48, 58, 0.8);
$footer-bgr-social: rgba(255, 255, 255, 0.1);
$box-shadow-menu:   0px 1px 3px rgba(0, 0, 0, 0.16),
                    0px 2px 4px rgba(0, 0, 0, 0.08),
                    0px 4px 8px rgba(0, 0, 0, 0.04);

