%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 10px 32px 11px;
  min-width: 200px;
  border: none;
  cursor: pointer;

  color: $primary-white-color;
  background-color: $accent-color;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
