// Преимущества
.feature.section {
  padding-top: 60px;
  padding-bottom: 60px;
}


.feature .list {
    .item:not(:last-child){
    margin-bottom: 30px;
  }
  
 
}

.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;
}

// Feature icon

.icon-features {
  text-align: center;
  
  margin-bottom: 30px;

  background-color: $secondary-bgr-color;
}
