// Главный слоган
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;

  //   background-image: url("../images/startup.jpg");
  background-image: linear-gradient($primary-bgr-color, $primary-bgr-color),
    url("../images/startup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    width: 696px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: $primary-white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
