/* Команда */

.team.section {
  background-color: $secondary-bgr-color;

  padding-top: 91px;
  padding-bottom: 97px;

  .title {
    margin-bottom: 50px;
  }

  .list {
    display: flex;
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }

  .img {
    display: block;
    margin-bottom: 30px;
  }
}

.team .item {
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  width: 270px;

  .title.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 16px;
  }
}

.team .social-list {
  @extend %social-list;
  margin-bottom: 24px;
}
